

body {
    background-color: hsl(225, 100%, 94%);
    background-image: url("../images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    text-align: center;
}

.order-card {
    text-align: center;
    height: auto;
    width: 450px;
    margin: 100px auto 10px;
    border-radius: 20px;
    background-color: white;
}

.hero-img {
    border-radius: 20px 20px 0px 0px;
}

.order-description {
    width: 70%;
    margin: auto;
    color: hsl(224, 23%, 55%);
}

.price-div {
    background-color: hsl(225, 100%, 98%);
    height: auto;
    width: 350px;
    border-radius: 10px;
    position: relative;
    margin: 20px auto;
    text-align: left;
}

.music-icon {
    position: relative;
    left: 20px;
    top: 10px;
}

.plan {
    display: inline-block;
    text-align: left;
    margin-left: 30px;
}

.plan-heading {
    margin-bottom: 0;
}

.price {
    margin-top: 0;
    color: hsl(224, 23%, 55%);
}

.plan-change {
    position: absolute;
    right: 25px;
    top: 30px;
}

.payment {
    margin-top: 50px;
}

.order-payment {
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    background: hsl(245, 75%, 52%);
    color: #ffffff;
    padding: 10px 20px 10px 20px;
}

.cancel-order {
    padding-top: 10px;
    padding-bottom: 50px;
}

.cancel-order a {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}


.attribution a {
    color: hsl(228, 45%, 44%);
}
